# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env

# Data
data/raw/*
data/cleaned/*

# Outputs (keep small artifacts, but not big binary)
outputs/rag/*
!outputs/rag/README.md

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db
