# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env

# Data
data/raw/*
data/cleaned/*

# Outputs (keep small artifacts, but not big binary)


# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

traces/
logs/
__pycache__/
